<sw-card class="sw-card--grid"
         :title="$tc('lamps-cryptogate.settingForm.credentials.cardTitle')">

    <sw-container>
        <sw-button-process v-model="isTestLiveSuccessful"
                           @click="onTest()">
            {{ $tc('lamps-cryptogate.settingForm.testLive') }}
        </sw-button-process>
        <div id="result"></div>

    </sw-container>
</sw-card>
